<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @blog.comment %>
</p>

<p>
  <strong>Link:</strong>
  <%= @blog.link %>
</p>

<p>
  <strong>User:</strong>
  <%= @blog.user %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
